<div class="jumbotron {{#if options.className}}{{options.className}}{{/if}}">
  <h1>{{title}}</h1>
  <p class="lead">{{subtitle}}</p>
  <p><a class="{{cta.cta_class}}" href="{{cta.cta_url}}">{{cta.cta_text}}</a></p>
</div>
