{{#compare select '&&' select.options}}
    <div class="select-wrap">
        {{#if select.label}}
            <label {{#if select.id}}for="{{select.id}}"{{/if}}>{{label}} :</label>
        {{/if}}

        <select {{#if select.id}}id="{{select.id}}"{{/if}}>
            {{#each options}}
                <option value="{{value}}">
                    {{name}}
                </option>
            {{/each}}
        </select>
    </div>
{{/compare}}
