{{#if tabs.items}}
<div class="tabs{{#if tabs.class}} {{tabs.class}}{{/if}} {{tabs.alt_class}}" {{> data-attr tabs}}>
    {{#compare tabs.items.length '>' 1}}
    <nav>
        <div class="nav-inner">
          <ul>
              {{#eachIndex tabs.items}}
                  <li class="{{item.class}}{{#compare index '===' 0}} active{{/compare}}">
                      <a {{#if item.shade}}data-shade="{{item.shade}}"{{/if}}>{{#if item.icon}}<i class="icon {{item.icon}}"></i>{{/if}}{{item.title}}</a>
                  </li>
              {{/eachIndex}}
          </ul>
        </div>
    </nav>
    {{/compare}}

    <div class="content">
        {{#compare tabs.class '==' 'story'}}
            {{#eachIndex tabs.items}}
                <div class="tab-pane {{item.class}} {{item.alt_class}} {{#compare index '===' 0}}active{{else}}fade{{/compare}} in">
                    {{#if item.collage}}
                        {{> collage item}}
                    {{else}}
                        <div class="item-image{{#compare item.img.class '==' 'right'}} right{{/compare}}">
                            {{> img item}}
                        </div>
                    {{/if}}

                    <article>
                        <div class="inner">
                            <div>
                                <div class="item-text">
                                    {{> eyebrow item}}
                                    {{#each item.items}}
                                        {{> text }}
                                        {{> cta }}
                                        {{> icon }}
                                        {{> link }}
                                        {{> element }}
                                        {{> list }}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {{/eachIndex}}
        {{else}}
            {{#eachIndex tabs.items}}
                <div class="tab-pane {{item.class}} {{item.alt-class}} {{#compare ../tabs.class '!=' 'subnav'}}{{#compare index '===' 0}}active{{else}}fade{{/compare}}{{/compare}} in">
                {{#if item.partial}}
                    {{include item.partial item}}
                {{else}}
                    {{> element item}}
                {{/if}}
                </div>
            {{/eachIndex}}
        {{/compare}}
    </div>

    {{#compare tabs.data.value '==' 'wallpapers'}}
    <div class="wallpapers">
        {{#eachIndex tabs.items}}
            <img class="{{item.class}} {{item.alt-class}} {{#compare index '===' 0}} active{{/compare}} wallpaper" src="{{item.wallpaper.src}}">
        {{/eachIndex}}
    </div>
    {{/compare}}
</div>
{{/if}}
